body {
  background-color: #8FBCE6;
  background-image: linear-gradient(to bottom, #8FBCE6, #4F94CD);
}
.CelsiusToFahrenheit {
  background-color: #0099ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.getweather {
  background-color: #0099ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.location,
.temperature,
.condition,
.humidity,
.wind {
  font-size: 20px;
  margin: 10px 0;
}

.temperature {
  font-weight: bold;
}

.humidity,
.wind {
  color: #777;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

